* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --dark-grey-color: #7f7f7f;
  --light-grey-color: #e8e5e480;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  color: var(--black-color);
  text-decoration: none;
}
